.color-icon-text {
    color: $iconText;
}

.color-divider {
    color: $divider;
}

.color-primary-text {
    color: $primaryText;
}

.color-secondary-text {
    color: $secondaryText;
}

.color-dark-primary {
    color: $darkPrimary;
}

.color-light-primary {
    color: $lightPrimary;
}

.color-primary {
    color: $primary;
}

.color-accent {
    color: $accent;
}
