.article {
    width: 90%;
    padding-top: 2rem;
    margin: 0 auto;
}

.article__header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.article__paragraph {
    margin-bottom: 2rem;
}

.article__image-container {
    height: 30rem;
    overflow: hidden;
    margin-bottom: 3rem;
}

.article__image {
    width: 100%;
}