/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body, html {
  height: 100%;
  margin: 0;
  padding: 0; }

.header-1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem; }

.header-2 {
  font-size: 1rem;
  margin-bottom: 1rem; }

.paragraph {
  margin-bottom: 2rem; }

.card {
  background-color: #fff;
  position: relative;
  height: 100%; }

.card__image-container {
  position: relative;
  overflow: hidden;
  height: 100%; }

.card__image-container:before {
  display: block;
  padding-top: 75%;
  content: ""; }

.card__image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.card--1-1 .card__image-container:before {
  padding-top: 100%; }

.card--horizontal {
  font-size: 0.8rem; }
  .card--horizontal:after {
    content: "";
    display: table;
    clear: both; }
  .card--horizontal .card__image-container {
    width: 30%;
    float: left; }
  .card--horizontal .card__meta {
    padding: 0.5rem 0 0.5rem 30%;
    margin-left: 0.5rem;
    width: 100%; }

.card--stacked .card__image-container {
  width: 100%; }
.card--stacked .card__meta {
  padding: 0 0 0.5rem 1rem;
  position: absolute;
  bottom: 0; }
.card--stacked .card__title {
  display: inline;
  background-color: #00bcd4;
  opacity: 0.6;
  color: white;
  box-shadow: -6px 0 0 rgba(0, 181, 212, 0.6), 7px 0 0 rgba(0, 181, 212, 0.6); }

.card--vertical .card__image-container {
  width: 100%;
  height: 7rem;
  margin-bottom: 0.5rem; }
.card--vertical .card__meta {
  height: 4rem; }

.menu__item {
  margin-bottom: 1rem; }

.list__item {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #b6b6b6; }

.list--scrollable {
  overflow-y: auto;
  height: 100%; }

.list--horizontal .list__item {
  float: left;
  width: 12rem;
  padding-right: 0.2rem; }

.input-icon {
  height: 3rem; }
  .input-icon:after {
    content: "";
    display: table;
    clear: both; }

.input-icon__input {
  float: left;
  height: 100%;
  font-size: 2rem;
  outline: none;
  border: 1px solid #b6b6b6; }

.input-icon__icon {
  cursor: pointer;
  float: left;
  font-size: 2rem;
  height: 100%;
  outline: none;
  border: 1px solid #b6b6b6; }

.masthead__primary {
  height: 30rem;
  margin-bottom: 0.5rem; }

.masthead__secondary-container:after {
  content: "";
  display: table;
  clear: both; }

.masthead__secondary {
  width: 25%;
  float: left;
  padding: 0 0.2rem; }

.masthead__secondary:first-child {
  padding: 0 0.2rem 0 0; }

.masthead__secondary:last-child {
  padding: 0 0 0 0.2rem; }

.masthead__primary .card__title {
  font-size: 2rem; }

.masthead__secondary .card__title {
  font-size: 1.2rem; }

.site__navbar {
  color: #ffffff;
  background-color: #0097a7;
  height: 5rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1; }

.site__navbar .input-icon__icon {
  border: 1px solid #0097a7;
  background-color: #b2ebf2;
  color: #0097a7; }
.site__navbar .input-icon__input {
  color: #0097a7;
  border: 1px solid #0097a7;
  background-color: #b2ebf2; }

.site__sidebar-primary {
  color: #ffffff;
  width: 10rem;
  background-color: #00bcd4;
  height: 100%;
  position: fixed;
  padding-top: 5rem;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  padding: 6rem 0 0 1rem; }

.site__sidebar-secondary {
  width: 18rem;
  background-color: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  padding: 6rem 1rem 1rem 1rem;
  left: 10rem;
  border-right: 1px dotted #b2ebf2; }

.site__sidebar-primary + .site__main {
  padding-left: 11rem; }

.site__sidebar-secondary + .site__main {
  padding-left: 29rem; }

.site__main {
  width: 100%;
  background-color: #fff;
  height: 2000px;
  padding-top: 6rem; }

.navbar {
  height: 100%; }

.navbar__left {
  padding: 1rem 0 0 1rem;
  float: left;
  width: 10rem;
  height: 100%; }

.navbar__logo {
  font-size: 1.5rem;
  float: left; }

.navbar__menu-toggle {
  float: left;
  margin: 0.3rem 0 0 0.5rem; }

.navbar__search {
  padding-top: 1rem;
  float: left;
  height: 100%; }

.home {
  max-width: 60rem; }

.home__masthead {
  margin-bottom: 5rem; }

.home__article-list {
  max-width: 50rem; }
  .home__article-list .card__title {
    font-size: 1.5rem; }

.color-icon-text {
  color: #ffffff; }

.color-divider {
  color: #b6b6b6; }

.color-primary-text {
  color: #212121; }

.color-secondary-text {
  color: #727272; }

.color-dark-primary {
  color: #0097a7; }

.color-light-primary {
  color: #b2ebf2; }

.color-primary {
  color: #00bcd4; }

.color-accent {
  color: #ff5722; }

/*# sourceMappingURL=main.css.map */
